<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38636939110-q38vlo8cu319aqcpjuqkr2303f91me1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38636939110-q38vlo8cu319aqcpjuqkr2303f91me1n</string>
	<key>API_KEY</key>
	<string>AIzaSyBCqrYn78AwxyExl_h4zwTQteuhpzED7ms</string>
	<key>GCM_SENDER_ID</key>
	<string>38636939110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-c9191</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-c9191.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38636939110:ios:1cfc1c31872eea1b274aa7</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-c9191-default-rtdb.firebaseio.com</string>
</dict>
</plist>